<h3>Congratulations!</h3>

<p>Hello {{ user.getUsername() }}! You're successfully registered.</p>

<p>Please, confirm your email using following <a href="{{ url('confirm_page', {'key': user.getConfirmKey()}) }}">link</a></p>

<p>If link does not working, point your browser to following address: {{ url('confirm_page', {'key': user.getConfirmKey()}) }}</p>

<p>Thanks!</p>