{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-3" style="padding-top: 20px;">
            {{ include('default/menu.html.twig') }}
        </div>

        <div class="col-sm-9">
            <h1>{% block pagetitle %}Index page{% endblock %}</h1>

            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
