<div class="list-group">
    <a class="list-group-item{% if 'homepage' == app.request.attributes.get('_route') %} active{% endif %}" href="{{ path('homepage') }}">Home</a>
    <a class="list-group-item{% if 'tasks' == app.request.attributes.get('_route') %} active{% endif %}" href="{{ path('tasks') }}">Tasks</a>
    <a class="list-group-item{% if 'results' == app.request.attributes.get('_route') %} active{% endif %}" href="{{ path('results') }}">Results</a>
    <a class="list-group-item{% if 'aboutpage' == app.request.attributes.get('_route') %} active{% endif %}" href="{{ path('aboutpage') }}">About</a>
</div>