{% extends 'page.html.twig' %}

{% block pagetitle %}<h1>Results page</h1>{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row margin-bottom">
        <div class="col-sm-6">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="range" value="{{ range }}"
                           placeholder="Select date range" id="daterange" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Show</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div id="chart" class="margin-bottom"></div>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Image</th>
                <th>Body</th>
            </tr>
        </thead>
        {% for post in posts %}
        <tr>
            <td><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></td>
            <td>{{ post.author }}</td>
            <td nowrap="nowrap">{{ post.postDate.format('Y-m-d<b\\r />H:i:s')|raw }}</td>
            <td><a href="{{ post.imageUrl }}" target="_blank">view</a></td>
            <td>{{ post.body|raw }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5" align="center">No posts for selected range</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fusioncharts/fusioncharts.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#daterange').daterangepicker({
                locale: {
                    separator: ' - ',
                    format: 'YYYY-MM-DD'
                },
                autoApply: true
            });
        });
        FusionCharts.ready(function () {
            var salesChart = new FusionCharts({
                //type: 'area2d',
                type: 'splinearea',
                renderAt: 'chart',
                width: '100%',
                height: '300',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Posts statistics",
                        "subCaption": "overall",
                        "xAxisName": "Day",
                        "yAxisName": "Posts",
                        "numberPrefix": "",
                        "paletteColors": "#0075c2",
                        "bgColor": "#ffffff",
                        "showBorder": "0",
                        "showCanvasBorder": "0",
                        "plotBorderAlpha": "10",
                        "usePlotGradientColor": "0",
                        "plotFillAlpha": "50",
                        "showXAxisLine": "1",
                        "axisLineAlpha": "25",
                        "divLineAlpha": "10",
                        "showValues": "1",
                        "showAlternateHGridColor": "0",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "subcaptionFontBold": "0",
                        "toolTipColor": "#ffffff",
                        "toolTipBorderThickness": "0",
                        "toolTipBgColor": "#000000",
                        "toolTipBgAlpha": "80",
                        "toolTipBorderRadius": "2",
                        "toolTipPadding": "5"
                    },

                    "data": [
                        {% for date, count in chart %}
                        {
                            "label": "{{ date }}",
                            "value": "{{ count }}"
                        }{% if false == loop.last %},{% endif %}
                        {% endfor %}
                    ]
                }
            })
            .render();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .margin-bottom {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}