{% extends 'page.html.twig' %}

{% block pagetitle %}<h1>Tasks page</h1>{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row"><div class="col-sm-3" style="margin: 0 auto; float: none;">
        <a class="btn btn-lg btn-success btn-block" href="{{ path('parse') }}">Parse</a>
    </div></div>
{% endblock %}
