{% extends 'base.html.twig' %}

{% block body %}
    <div style="padding-top: 20px;">
        {% if error %}
            <div class="alert alert-danger" align="center">{{ error }}</div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" align="center">
                You've confirmed your email!
                You can now proceed to <a href="{{ path('login_page') }}">login</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}