{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .form-register {
            max-width: 500px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-register .form-signin-heading {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{#
{% block body %}
    <form class="form-register" action="{{ path('register_page') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        {% if message %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}

        <h2 class="form-signin-heading">Enter information</h2>
        <div class="form-group">
            <label for="inputName" class="sr-only">Username</label>
            <input type="text" name="username" id="inputName" class="form-control" placeholder="Username" required autofocus value="{{ username }}">
        </div>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required value="{{ email }}">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a class="btn btn-sm btn-info btn-block" href="{{ path('login_page') }}">Back</a>
    </form>
{% endblock %}
#}
{% block body %}
    <div class="form-register">
        {% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <h2 class="form-signin-heading">Enter information</h2>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <a class="btn btn-sm btn-info btn-block" href="{{ path('login_page') }}">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}